body {
    font-family: Noto Sans;
    font-size: 1.5rem;
}

@media screen and (max-width: 420px){
    body {
        overflow-x: hidden
    }
 }

select {
    border-width: 1px;
    border-color: #E0E0E0;
    font-size: 1rem;
    padding-right: 20px;
    height: 35px;
    width: 100%;
}

a:link {
    text-decoration: none;
    color: #747272;
  }
  
  a:visited {
    text-decoration: none;
    color: #747272;
  }
  
  a:hover {
    text-decoration: none;
    color: #747272;
  }
  
  a:active {
    text-decoration: none;
    color: #747272;
  }

.bordertop {
    line-height: 1;
    border-top: 8px solid #03B13A;
}

.card-title {
    color: #00723E;
}

.text-neutral-600 {
    color: #525252
}

.bg-footer {
    background-color: #03B13A;
}

.text-white {
    color: white !important;
    font-weight: bold;
    text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.445);
}

.searchbackground {
    height: 116px;
    background-image: url('../image/search_bg.png');
    z-index: 0;
    text-align: center;
    width: 1084px;
}

.searchbox {
    background-color:white ;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.11);
    z-index: 1;
    padding-top: 24px;
    padding-bottom: 24px;
    margin: -43px auto auto 0;
}

.btn-green {
    width: 100%;
    height: 35px;
    text-align: center;
    color: white;
    background-color: #00723E;
    font-size: 1rem;
    vertical-align: middle;
}

.subtitle {
    padding-left: 10px;
    font-weight: bold;
    color: #585858;
}

.carousel {
    margin-bottom: 2rem;
    position: relative;
}

.carousel-img {
    height: 280px;
    object-fit:cover;
}

.bg-black-opacity {
    background-color: #0000005c;
}

.carousel-img-index {
    height: 580px;
}

.carousel-text {
    bottom: 30% !important;
    font-size: 2rem;
}

.hero-text {
    bottom: 10% !important;
    font-size: 2rem;
}

@media (max-width: 480px) {
    .carousel-img-index {
        height: 200px;
    }
    .carousel-img {
        height: 140px;
    }
    .carousel-text {
        font-size: 1.25rem;
    }

    .hero-text {
        font-size: 1.25rem;
    }
}

@media (min-width: 421px) and (max-width: 820px){
    .carousel-img-index {
        height: 280px;
    }
}

.h-200 {
    height: 200px;
}

.w-s-100 {
    width: 100px;
}

.p-25 {
    padding: 25px;
}

.m-25 {
    margin: 25px;
}

.footer-text {
    font-size: 1rem;
    text-align: center;
}

.mx-auto {
    margin: 0 auto;
  }

.content {
    font-size: 1.25rem;
}

.small-text {
    font-size: 1rem;
}

.mask {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;
    background-attachment:fixed;
}


.info-img {
    width: 100%;
    height: 100%;
    object-fit: cover;   
}

.map-right {
    height: 936px;
}

.mid-col-h {
    height: 854px;
}

.obj-cover {
    object-fit: cover;
}

.list-decimal {
    list-style-type: decimal;
}


@media (min-width: 768px) { 
    .thumbnail-container {
        width: 1092px;
    }
 }

@media (max-width: 768px) { 
    .thumbnail-container {
        width: 570px;
    }
 }

@media screen and (max-width: 420px){ 

    .thumbnail-container {
        width: 350 px !important;
    }

  }

@media (min-width: 992px) { 
    .search-bar {
        margin-left: 10rem;
        margin-right: 10rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
 }

.grid-thumbnail {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 200px 200px;
}

@media screen and (max-width: 420px){ 
    .grid-thumbnail {
        display: grid;
        grid-template-columns: 325px;
        grid-template-rows: 200px 200px 200px 200px 200px 200px;
    }
 }

 @media (min-width: 421px) and (max-width: 820px){ 
    .grid-thumbnail {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 200px;
    }
 }

/* time line */
.timeline {
    border-left: 1px solid hsl(0, 0%, 90%);
    position: relative;
    list-style: none;
  }

  .timeline .timeline-item {
    position: relative;
  }

  .timeline .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
  }

  .timeline .timeline-item:after {
    background-color: #03B13A;
    left: -6px;
    top: 9px;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
  }
