body {
    font-family: Noto Sans;
    font-size: 1.5rem;
}

select {
    border-width: 1px;
    border-color: #E0E0E0;
    font-size: 1rem;
    padding-right: 20px;
    height: 35px;
    width: 150px;
}

a:link {
    text-decoration: none;
    color: #747272;
  }
  
  a:visited {
    text-decoration: none;
    color: #747272;
  }
  
  a:hover {
    text-decoration: none;
    color: #747272;
  }
  
  a:active {
    text-decoration: none;
    color: #747272;
  }

.bordertop {
    line-height: 1;
    border-top: 8px solid #03B13A;
}

.text-white {
    color: white !important;
    font-weight: bold;
}

.searchbackground {
    height: 116px;
    background-image: url('../image/search_bg.png');
    z-index: 0;
    text-align: center;
    width: 1084px;
}

.searchbox {
    background-color:white ;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.11);
    z-index: 1;
    padding-top: 24px;
    padding-bottom: 24px;
    margin: -43px auto auto 0;
}

.btn-green {
    width: 197px;
    height: 35px;
    text-align: center;
    color: white;
    background-color: #00723E;
    font-size: 1rem;
    vertical-align: middle;
}

.subtitle {
    padding-left: 10px;
    font-weight: bold;
    color: #585858;
}

.p-25 {
    padding: 25px;
}

.carousel {
    margin-bottom: 4rem;
    position: relative;
}

.m-25 {
    margin: 25px;
}

.carousel-img {
    height: 460px;
    object-fit:cover;
}

.h-200 {
    height: 200px;
}

.bg-footer {
    background-color: #03B13A;
}

.mask {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;
    background-attachment:fixed;
}

.footer-text {
    font-size: 1rem;
    text-align: center;
}

.mx-auto {
    margin: 0 auto;
  }

.card-title {
    color: #00723E;
}

.content {
    font-size: 1.25rem;
}

.small-text {
    font-size: 1rem;
}

.info-img {
    width: 164px;
    height: 100%;
    background-repeat: no-repeat !important;
	background-position: center center !important;
	background-size: cover !important;
}

.hero-image {
    background-repeat: no-repeat !important;
	background-position: center center !important;
	background-size: cover !important;
}

.card-image-1 {
    background-repeat: no-repeat !important;
	background-position: center center !important;
	background-size: cover !important;
    height: 225px;
}

.thumbnail-lg {
    background-repeat: no-repeat !important;
	background-position: center center !important;
	background-size: cover !important;
    width: 536px;
    height: 200px;
}

.thumbnail-sm {
    background-repeat: no-repeat !important;
	background-position: center center !important;
	background-size: cover !important;
    width: 258px;
    height: 200px;
}

.thumbnail-container {
    width: 1092px;
}
