@import './scss/_variable.scss';
@import './scss/_ol-map.scss';


body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    transition: color 0.1s, background-color 0.1s;
    &:hover,
    &.router-link-main {
      color: $color-main;
    }
  }
  .fs-7 {
    font-size: 0.875rem;
  }
  .text-main {
    color: $color-main;
  }
}

#app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  header {
    flex-shrink: 0;
  }
  main {
    flex-grow: 1;
  }

  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.1s ease;
  }

  .fade-enter-from,
  .fade-leave-to {
    opacity: 0;
  }
}

body a:hover, body a.router-link-main {
  color: #00a687;
}


body .text-main {
  color: #00a687;
}

// #mapPage {
//   position: relative;
// }

// #mapPage #map {
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   -webkit-box-flex: 1;
//       -ms-flex-positive: 1;
//           flex-grow: 1;
// }

// #mapPage #mapToolbar {
//   position: absolute;
//   top: 0.5rem;
//   left: 0.5rem;
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-align: start;
//       -ms-flex-align: start;
//           align-items: start;
//   -webkit-transform: translateX(calc(-100% + 1rem));
//           transform: translateX(calc(-100% + 1rem));
//   z-index: 1;
//   -webkit-transition: -webkit-transform 0.2s;
//   transition: -webkit-transform 0.2s;
//   transition: transform 0.2s;
//   transition: transform 0.2s, -webkit-transform 0.2s;
// }

// #mapPage #mapToolbar.show {
//   -webkit-transform: translateX(0);
//           transform: translateX(0);
// }

// #mapPage #mapToolbar .toolbar-nav {
//   border-radius: 0.5rem;
//   background-color: #fff;
//   padding: 0.5rem;
// }

// #mapPage #mapToolbar .toolbar-nav ul {
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-orient: vertical;
//   -webkit-box-direction: normal;
//       -ms-flex-direction: column;
//           flex-direction: column;
//   gap: 8px;
// }

// #mapPage #mapToolbar .toolbar-nav ul li {
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-align: center;
//       -ms-flex-align: center;
//           align-items: center;
//   -webkit-box-pack: center;
//       -ms-flex-pack: center;
//           justify-content: center;
// }

// #mapPage #mapToolbar .toolbar-nav ul li a {
//   position: relative;
//   padding-bottom: 100%;
//   border-radius: 0.5rem;
//   background-color: #fff;
//   -webkit-transition: background-color 0.2s;
//   transition: background-color 0.2s;
// }

// #mapPage #mapToolbar .toolbar-nav ul li a:hover {
//   color: #fff;
//   background-color: #f59e0b;
// }

// #mapPage #mapToolbar .toolbar-nav ul li a i {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   -webkit-transform: translate(-50%, -50%);
//           transform: translate(-50%, -50%);
//   font-size: 1.5rem;
//   color: #555;
// }

// #mapPage #mapToolbar .toolbar-nav ul li a i:hover {
//   color: inherit;
// }

// #mapPage #mapToolbar .btn-nav-toggle {
//   border-radius: 0 5px 5px 0;
//   margin: 0.75rem 0 0;
//   border: 0;
//   padding: 0;
//   background-color: #eab308;
//   color: #fff;
//   -webkit-transition: background-color 0.2s;
//   transition: background-color 0.2s;
// }

// #mapPage #mapToolbar .btn-nav-toggle:hover {
//   background-color: #555;
// }

// #mapPage #mapToolbar .btn-nav-toggle i::before {
//   margin: 0;
// }

// #mapPage #mapToolbar .toolbar-content {
//   position: absolute;
//   left: calc(100% + 1rem);
// }